<h1><%= @restaurant.name  %></h1>
<h3> <%= @restaurant.category %> </h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<ul>
<p><% @restaurant.reviews.each do |review| %>
  <li> <%= "#{review.rating} stars - #{review.content}" %> </li>
<% end %></p>
</ul>



<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to all restaurants", restaurants_path %>
